{% extends "voting/base_1.html" %}
{% load static %}

{% block content %}
<div class="wrapper">
    <div class="inner">
        <img src="{% static 'assets/images/image-1.png' %}" alt="" class="image-1">
        <h2 style="background-color: #3498db; color: #fff; padding: 10px; margin-top: 20px; text-align:center; width: 500px;">UVC</h2>
        
        <form method= "POST" action="{% url 'account_uvc' user.id %}" style="width: 500px;">
            {% csrf_token %}
            
                    <!-- Add an input field for the UVC -->
            <div class="form-holder">
                    <span class="lnr lnr-license"></span>
                     <input name="uvc" type="text" class="form-control" placeholder="Enter Unique Voter Code (UVC) - 8 characters" pattern="[A-Za-z0-9]{8}" title="Enter a valid 8-digit UVC" required>
                 </div>

                <p style="margin-top: 15px; text-align:center" >You can go back ! <a href="{% url 'account_register' %}" style="color: #3498db;">Sign up</a></p>

        </form>
        <img src="{% static 'assets/images/image-2.png' %}" alt="" class="image-2">
    </div>
    
</div>


{% endblock %}